<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ADAccountSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>

  <!-- GUIDE FOR USE <ADAccountSettings> -->

  <!--

  Before run WebApplication1.ConsoleApp.exe:

  <ADAccountSettings>
    <add key="ADDomainUserName" value="Administrator" />
    <add key="ADDomainPassword" value="Password@8" />
  </ADAccountSettings>

  After run WebApplication1.ConsoleApp.exe:

  <ADAccountSettings configProtectionProvider="DataProtectionConfigurationProvider">
    <EncryptedData>
      <CipherData>
        <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAwlvLG9cWeUKpUUoZ23QCwgQAAAACAAAAAAAQZgAAAAEAACAAAADjYzLuTaBH/Gg2yi/XjJoZ49X+rakI0h6JXrPEsGotNQAAAAAOgAAAAAIAACAAAAAnfxMNJeFJL58gxyOzrUtz/e0NTWsHteJrpqrrGpza40ABAABhQ4jPmhgn9ersKQmAl2dxAkZkdGlLsc0r7BESA1yCuhwfHZaiJlZOUmrWRD1TXweCEB8F7sEhmIMg8ZM/LNXLsmxUYrg3FOth2OP/EHUrx36Nrg8PqpdtUVLFRPiiK0UaEvP4xagWd4ITgAEJMrkG72GC8HxxHiJNuy8FxIgiFSjZWcigzkeqUzenDZJpTb2BqrR+lDhNzFr6/U7rSkHlLGtknhQWIs+8ODxIRNCIdPx8mA75orhhBy22ecZuwcu0qzCFmdPdfHpnTKCbDRScb93JfaqVsGOyF+R0485Ziq2LBIJhcPcemEpWzoNDetbBNZl6c71U8rQV2UJ9iin+l+RDYWDWR/+4ypnCHzEb0YP2Y+CFmbEmrr+hGUgFXvAX82RGmcuKNTgJ6ND1vmmfAXLfMjWY+g8f26MkA7W9M0AAAACOtzbfUtBKFqR04jHX72XLkB39U/fHyVTAAW8OFWnlpymP1GWrCzKA1jEfPEfsNr0LI1UwfNKp/D7yp+cGe4K7</CipherValue>
      </CipherData>
    </EncryptedData>
  </ADAccountSettings>

  -->

  <!-- PLEASE ENTER <ADDomainUserName>, <ADDomainPassword> HERE -->

  <!--<ADAccountSettings>
    <add key="ADDomainUserName" value="" />
    <add key="ADDomainPassword" value="" />
  </ADAccountSettings>-->

  <ADAccountSettings>
    <add key="ADDomainUserName" value="Administrator" />
    <add key="ADDomainPassword" value="Password@8" />
  </ADAccountSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>